---
import AstroIcon from "../assets/astro-icon.astro";
import JavascriptIcon from "../assets/javascript-icon.astro";
import VueIcon from "../assets/vue-icon.astro";

---



<footer class="bg-transparent w-screen dark:bg-gray-800 z-20 flex justify-between items-center">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
      This site is made for study purposes ONLY.
    </span>

  </div>
  <span class="grow flex mr-4  justify-center items-center">
    <JavascriptIcon width="65" height="25" color="white" />
    <VueIcon width="65" height="25" color="white"/>
    <AstroIcon width="65" height="25" color="white"/>
 </span>
</footer>
