---

---

<article
  transition:animate="slide"
  class="h-screen p-5 grid place-items-center text-center gap-3 z-10 "
>
  <div class="self-end z-10">
    <h1
      style="text-wrap: balance; font-style: italic;"
      class="font-bold text-7xl text-stone-100 mb-5"
    >
      Just <span style="font-style: normal;" class="text-stone-100">Watch</span>
      It
    </h1>
  </div>
  <p class="text-neutral-100 lg:h-20 lg:w-1/3 md:w-1/2 sm:w-max z-10">
    Because who needs <span style="font-style: italic;">"Just Do It"</span> when
    you can <span>Just Watch</span> the Time ? Our timepieces celebrate the
    irony of time, reminding you to savor life's moments.
  </p>
</article>

<style>
  @font-face {
    font-family: "just-do-it";
    src: url(just-do-it-font.otf);
  }
  h1 {
    font-family: "just-do-it";
  }
  span {
    font-family: "just-do-it";
  }
</style>
